.gradle
build/

# Ignore Gradle GUI configuration
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
bin/
.classpath
.project
.settings

# Ignore IntelliJ IDEA extra files
.idea/
*.iml
*.xml
application.properties
